.pp--container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* border: 2px solid red; */
  width: 100%;
  padding-top: 2rem;
  margin-bottom: 3rem;
}

.pp--container h1 {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 226.5%; /* 72.48px */
  margin-bottom: 2rem;
}
.pp--container h2 {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 226.5%; 72.48px */
  margin-bottom: 1rem;
}
.pp--container h3 {
  color: #000;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 226.5%; 72.48px */
  margin-bottom: 1rem;
}
.pp--container h4 {
  color: #161515;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 226.5%; 72.48px */
  margin-bottom: 1rem;
}

.privacy-policy-head {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .pp--container {
    padding: 2rem 2rem;
  }
}
