.containerr {
    width: 100%;
    /* height: auto; */
    overflow-x: hidden;
    scrollbar-width: none;
    padding-top: 40px;
    padding-bottom: 100px;
    position: relative;
}

.swiper-container,
.swiper-wrapper,
.swiper-slide {
    width: 100%;
    /* height: auto; */
    display: flex;
    /* gap: -5%; */
}

.swiper-slide.swiper-zoom-container {
    display: block;
    margin: 0 auto;
    width: auto;
    /* height: auto; */
}

.swiper-zoom-container {
    width: 500px;
    margin: 0 30px 0 60px;
    /* height: auto; */
}

.swiper-slide.swiper-slide-active {
    /* box-shadow: 2px 2px 10px 2px lightgray; */
    /* transform: scale(1.4); */
}

.swiper-slide.active-centered-img .swiper-zoom-container {
    transform: scale(1.2);
    transition: ease-in-out 0.2s;
    box-shadow: 0px 0px 10px 0px rgb(198, 219, 226);
    border-radius: 25px;
}

.swiper-button-next {
    position: absolute;
    bottom: 0;
    left: 45%;
}

.swiper-button-prev {

    position: absolute;
    bottom: 0;
    left: 55%;
}


@media (max-width: 768px) {
    .swiper-zoom-container {
        margin: 0 30px 0 30px;
    }

    .swiper-button-next {
        left: 35%;
    }
}